services:
  app:
    build: .
    container_name: strava-app
    env_file: .env
    ports:
      - "8080:8000"
    command: python -m uvicorn app.main:app --host ${API_HOST} --port ${API_PORT}
    volumes:
      - appdata:/data
    depends_on: [db]

  frontend:
    build: ./frontend
    container_name: strava-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8080
    depends_on: [app]

  db:
    image: postgis/postgis:16-3.4
    container_name: db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9090:9000"
      - "9091:9001"
    volumes:
      - minio:/data

volumes:
  pgdata:
  minio:
  appdata:

