services:
  app:
    build: .
    container_name: strava-app
    env_file: .env
    ports:
      - "8080:8000"
    command: uvicorn app.main:app --host ${API_HOST} --port ${API_PORT}
    volumes:
      - ./app:/code/app
      - appdata:/data
      - ./synthetic_strava_data.csv:/datasets/synthetic_strava_data.csv:ro
    depends_on: [db]

  db:
    image: postgis/postgis:16-3.4
    container_name: db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9090:9000"
      - "9091:9001"
    volumes:
      - minio:/data

volumes:
  pgdata:
  minio:
  appdata:

